.controls-2co, .controls-address, .controls-arrow, .controls-authnet, .controls-autocomplete, .controls-autoincrement, .controls-button, .controls-cake, .controls-captcha, .controls-charts, .controls-checkbox, .controls-clickbank, .controls-datetime, .controls-dropdown, .controls-email, .controls-formcollapse, .controls-fullname, .controls-gcheckout, .controls-grading, .controls-header, .controls-hidden, .controls-image, .controls-matrix, .controls-number, .controls-onebip, .controls-pagebreak, .controls-password, .controls-payment_tools, .controls-paypal, .controls-paypalpro, .controls-phone, .controls-power_tools, .controls-quick_tools, .controls-radiobutton, .controls-range, .controls-rating, .controls-rgb, .controls-scale, .controls-screenshot, .controls-slider, .controls-spinner, .controls-survey_tools, .controls-text, .controls-textarea, .controls-textbox, .controls-tool_box, .controls-upload, .controls-world, .controls-worldpay {
    background: url("sprite/images/controls.png") no-repeat scroll 0 0 transparent;
}

.controls-2co {
    background-position: 0 0;
    height: 19px;
    width: 107px;
}
.controls-address {
    background-position: -117px 0;
    height: 16px;
    width: 16px;
}
.controls-arrow {
    background-position: -143px 0;
    height: 16px;
    width: 16px;
}
.controls-authnet {
    background-position: -169px 0;
    height: 19px;
    width: 107px;
}
.controls-autocomplete {
    background-position: -286px 0;
    height: 16px;
    width: 16px;
}
.controls-autoincrement {
    background-position: -312px 0;
    height: 16px;
    width: 16px;
}
.controls-button {
    background-position: -338px 0;
    height: 16px;
    width: 16px;
}
.controls-cake {
    background-position: -364px 0;
    height: 16px;
    width: 16px;
}
.controls-captcha {
    background-position: -390px 0;
    height: 16px;
    width: 16px;
}
.controls-charts {
    background-position: -416px 0;
    height: 16px;
    width: 16px;
}
.controls-checkbox {
    background-position: -442px 0;
    height: 16px;
    width: 16px;
}
.controls-clickbank {
    background-position: -468px 0;
    height: 19px;
    width: 107px;
}
.controls-datetime {
    background-position: -585px 0;
    height: 16px;
    width: 16px;
}
.controls-dropdown {
    background-position: -611px 0;
    height: 16px;
    width: 16px;
}
.controls-email {
    background-position: -637px 0;
    height: 16px;
    width: 16px;
}
.controls-formcollapse {
    background-position: -663px 0;
    height: 16px;
    width: 16px;
}
.controls-fullname {
    background-position: -689px 0;
    height: 16px;
    width: 16px;
}
.controls-gcheckout {
    background-position: -715px 0;
    height: 19px;
    width: 107px;
}
.controls-grading {
    background-position: -832px 0;
    height: 16px;
    width: 16px;
}
.controls-header {
    background-position: -858px 0;
    height: 16px;
    width: 16px;
}
.controls-hidden {
    background-position: -884px 0;
    height: 16px;
    width: 16px;
}
.controls-image {
    background-position: -910px 0;
    height: 16px;
    width: 16px;
}
.controls-matrix {
    background-position: -936px 0;
    height: 16px;
    width: 16px;
}
.controls-number {
    background-position: -962px 0;
    height: 16px;
    width: 16px;
}
.controls-onebip {
    background-position: -988px 0;
    height: 19px;
    width: 107px;
}
.controls-pagebreak {
    background-position: -1105px 0;
    height: 16px;
    width: 16px;
}
.controls-password {
    background-position: -1131px 0;
    height: 16px;
    width: 16px;
}
.controls-payment_tools {
    background-position: -1157px 0;
    height: 16px;
    width: 16px;
}
.controls-paypal {
    background-position: -1183px 0;
    height: 19px;
    width: 107px;
}
.controls-paypalpro {
    background-position: -1300px 0;
    height: 19px;
    width: 107px;
}
.controls-phone {
    background-position: -1417px 0;
    height: 16px;
    width: 16px;
}
.controls-power_tools {
    background-position: -1443px 0;
    height: 16px;
    width: 16px;
}
.controls-quick_tools {
    background-position: -1469px 0;
    height: 16px;
    width: 16px;
}
.controls-radiobutton {
    background-position: -1495px 0;
    height: 16px;
    width: 16px;
}
.controls-range {
    background-position: -1521px 0;
    height: 16px;
    width: 17px;
}
.controls-rating {
    background-position: -1548px 0;
    height: 16px;
    width: 16px;
}
.controls-rgb {
    background-position: -1574px 0;
    height: 16px;
    width: 16px;
}
.controls-scale {
    background-position: -1600px 0;
    height: 16px;
    width: 16px;
}
.controls-screenshot {
    background-position: -1626px 0;
    height: 16px;
    width: 16px;
}
.controls-slider {
    background-position: -1652px 0;
    height: 16px;
    width: 16px;
}
.controls-spinner {
    background-position: -1678px 0;
    height: 16px;
    width: 16px;
}
.controls-survey_tools {
    background-position: -1704px 0;
    height: 16px;
    width: 16px;
}
.controls-text {
    background-position: -1730px 0;
    height: 16px;
    width: 16px;
}
.controls-textarea {
    background-position: -1756px 0;
    height: 16px;
    width: 16px;
}
.controls-textbox {
    background-position: -1782px 0;
    height: 16px;
    width: 16px;
}
.controls-tool_box {
    background-position: -1808px 0;
    height: 16px;
    width: 16px;
}
.controls-upload {
    background-position: -1834px 0;
    height: 16px;
    width: 16px;
}
.controls-world {
    background-position: -1860px 0;
    height: 16px;
    width: 16px;
}
.controls-worldpay {
    background-position: -1886px 0;
    height: 19px;
    width: 107px;
}




/* TOOLBAR ICONS */

.toolbar-validation, .toolbar-visibility, .toolbar-visibility_close, .toolbar-width, .toolbar-allow_time, .toolbar-arrow-top, .toolbar-arrow-top2, .toolbar-autocomplete_options, .toolbar-backText, .toolbar-button_align, .toolbar-button_clear, .toolbar-button_print, .toolbar-checkbox_columns, .toolbar-checkbox_options, .toolbar-checkbox_selected, .toolbar-checkbox_special, .toolbar-code, .toolbar-collapse_closed, .toolbar-collapse_open, .toolbar-cond, .toolbar-currency, .toolbar-current-index, .toolbar-date_format, .toolbar-default, .toolbar-description, .toolbar-dropdown_options, .toolbar-dropdown_selected, .toolbar-dropdown_size, .toolbar-dropdown_special, .toolbar-dropdown_width, .toolbar-email_alerts, .toolbar-flipleft, .toolbar-flipright, .toolbar-font, .toolbar-font_color, .toolbar-font_new, .toolbar-font_size, .toolbar-form_background, .toolbar-form_width, .toolbar-gear, .toolbar-grading_options, .toolbar-grading_total, .toolbar-header_size, .toolbar-height, .toolbar-hint, .toolbar-image_align, .toolbar-image_link, .toolbar-image_source, .toolbar-info_grey, .toolbar-input_size, .toolbar-input_subLabel, .toolbar-label_align, .toolbar-label_auto, .toolbar-label_center, .toolbar-label_left, .toolbar-label_right, .toolbar-label_top, .toolbar-label_width, .toolbar-letter-prefix, .toolbar-matrix_columns, .toolbar-matrix_input_type, .toolbar-matrix_rows, .toolbar-max_size, .toolbar-max_value, .toolbar-min_value, .toolbar-name_middle, .toolbar-name_prefix, .toolbar-name_suffix, .toolbar-negatives, .toolbar-negatives_closed, .toolbar-new, .toolbar-nextText, .toolbar-not_allow_time, .toolbar-not_required, .toolbar-number-padding, .toolbar-payment_total, .toolbar-pdf, .toolbar-preview, .toolbar-radio_columns, .toolbar-radio_options, .toolbar-radio_other, .toolbar-radio_selected, .toolbar-radio_special, .toolbar-range_default_from, .toolbar-range_default_to, .toolbar-recaptcha, .toolbar-redo, .toolbar-redo_disabled, .toolbar-required, .toolbar-save, .toolbar-scale_amount, .toolbar-scale_from, .toolbar-scale_to, .toolbar-secure, .toolbar-share_form_network, .toolbar-share_form_world, .toolbar-spinner_size, .toolbar-star_amount, .toolbar-star_style, .toolbar-stepping, .toolbar-sub_header, .toolbar-textarea_columns, .toolbar-textarea_rows, .toolbar-thank_page, .toolbar-themes, .toolbar-time_format_24, .toolbar-time_format_pm, .toolbar-undo, .toolbar-undo_disabled, .toolbar-unique, .toolbar-unsecure, .toolbar-upload_extensions {
    background: url("sprite/images/toolbar.png") no-repeat scroll 0 0 transparent;
}
.toolbar-validation {
    background-position: 0 0;
    height: 24px;
    width: 24px;
}
.toolbar-visibility {
    background-position: -34px 0;
    height: 24px;
    width: 24px;
}
.toolbar-visibility_close {
    background-position: -68px 0;
    height: 24px;
    width: 24px;
}
.toolbar-width {
    background-position: -102px 0;
    height: 24px;
    width: 24px;
}
.toolbar-allow_time {
    background-position: -136px 0;
    height: 24px;
    width: 24px;
}
.toolbar-arrow-top {
    background-position: -170px 0;
    height: 16px;
    width: 16px;
}
.toolbar-arrow-top2 {
    background-position: -196px 0;
    height: 16px;
    width: 16px;
}
.toolbar-autocomplete_options {
    background-position: -222px 0;
    height: 24px;
    width: 24px;
}
.toolbar-backText {
    background-position: -256px 0;
    height: 24px;
    width: 24px;
}
.toolbar-button_align {
    background-position: -290px 0;
    height: 24px;
    width: 24px;
}
.toolbar-button_clear {
    background-position: -324px 0;
    height: 24px;
    width: 24px;
}
.toolbar-button_print {
    background-position: -358px 0;
    height: 24px;
    width: 24px;
}
.toolbar-checkbox_columns {
    background-position: -392px 0;
    height: 24px;
    width: 24px;
}
.toolbar-checkbox_options {
    background-position: -426px 0;
    height: 24px;
    width: 24px;
}
.toolbar-checkbox_selected {
    background-position: -460px 0;
    height: 24px;
    width: 24px;
}
.toolbar-checkbox_special {
    background-position: -494px 0;
    height: 24px;
    width: 24px;
}
.toolbar-code {
    background-position: -528px 0;
    height: 24px;
    width: 24px;
}
.toolbar-collapse_closed {
    background-position: -562px 0;
    height: 24px;
    width: 24px;
}
.toolbar-collapse_open {
    background-position: -596px 0;
    height: 24px;
    width: 24px;
}
.toolbar-cond {
    background-position: -630px 0;
    height: 24px;
    width: 29px;
}
.toolbar-currency {
    background-position: -669px 0;
    height: 24px;
    width: 24px;
}
.toolbar-current-index {
    background-position: -703px 0;
    height: 24px;
    width: 28px;
}
.toolbar-date_format {
    background-position: -741px 0;
    height: 24px;
    width: 24px;
}
.toolbar-default {
    background-position: -775px 0;
    height: 24px;
    width: 24px;
}
.toolbar-description {
    background-position: -809px 0;
    height: 24px;
    width: 24px;
}
.toolbar-dropdown_options {
    background-position: -843px 0;
    height: 24px;
    width: 24px;
}
.toolbar-dropdown_selected {
    background-position: -877px 0;
    height: 24px;
    width: 24px;
}
.toolbar-dropdown_size {
    background-position: -911px 0;
    height: 24px;
    width: 24px;
}
.toolbar-dropdown_special {
    background-position: -945px 0;
    height: 24px;
    width: 24px;
}
.toolbar-dropdown_width {
    background-position: -979px 0;
    height: 24px;
    width: 24px;
}
.toolbar-email_alerts {
    background-position: -1013px 0;
    height: 24px;
    width: 24px;
}
.toolbar-flipleft {
    background-position: -1047px 0;
    height: 16px;
    width: 16px;
}
.toolbar-flipright {
    background-position: -1073px 0;
    height: 16px;
    width: 16px;
}
.toolbar-font {
    background-position: -1099px 0;
    height: 24px;
    width: 24px;
}
.toolbar-font_color {
    background-position: -1133px 0;
    height: 24px;
    width: 24px;
}
.toolbar-font_new {
    background-position: -1167px 0;
    height: 24px;
    width: 24px;
}
.toolbar-font_size {
    background-position: -1201px 0;
    height: 24px;
    width: 24px;
}
.toolbar-form_background {
    background-position: -1235px 0;
    height: 24px;
    width: 24px;
}
.toolbar-form_width {
    background-position: -1269px 0;
    height: 24px;
    width: 24px;
}
.toolbar-gear {
    background-position: -1303px 0;
    height: 24px;
    width: 24px;
}
.toolbar-grading_options {
    background-position: -1337px 0;
    height: 24px;
    width: 24px;
}
.toolbar-grading_total {
    background-position: -1371px 0;
    height: 24px;
    width: 24px;
}
.toolbar-header_size {
    background-position: -1405px 0;
    height: 24px;
    width: 38px;
}
.toolbar-height {
    background-position: -1453px 0;
    height: 24px;
    width: 24px;
}
.toolbar-hint {
    background-position: -1487px 0;
    height: 24px;
    width: 24px;
}
.toolbar-image_align {
    background-position: -1521px 0;
    height: 24px;
    width: 24px;
}
.toolbar-image_link {
    background-position: -1555px 0;
    height: 24px;
    width: 24px;
}
.toolbar-image_source {
    background-position: -1589px 0;
    height: 24px;
    width: 24px;
}
.toolbar-info_grey {
    background-position: -1623px 0;
    height: 16px;
    width: 16px;
}
.toolbar-input_size {
    background-position: -1649px 0;
    height: 24px;
    width: 24px;
}
.toolbar-input_subLabel {
    background-position: -1683px 0;
    height: 24px;
    width: 24px;
}
.toolbar-label_align {
    background-position: -1717px 0;
    height: 24px;
    width: 24px;
}
.toolbar-label_auto {
    background-position: -1751px 0;
    height: 16px;
    width: 16px;
}
.toolbar-label_center {
    background-position: -1777px 0;
    height: 16px;
    width: 16px;
}
.toolbar-label_left {
    background-position: -1803px 0;
    height: 16px;
    width: 16px;
}
.toolbar-label_right {
    background-position: -1829px 0;
    height: 16px;
    width: 16px;
}
.toolbar-label_top {
    background-position: -1855px 0;
    height: 16px;
    width: 16px;
}
.toolbar-label_width {
    background-position: -1881px 0;
    height: 24px;
    width: 24px;
}
.toolbar-letter-prefix {
    background-position: -1915px 0;
    height: 24px;
    width: 46px;
}
.toolbar-matrix_columns {
    background-position: -1971px 0;
    height: 24px;
    width: 24px;
}
.toolbar-matrix_input_type {
    background-position: -2005px 0;
    height: 24px;
    width: 24px;
}
.toolbar-matrix_rows {
    background-position: -2039px 0;
    height: 24px;
    width: 24px;
}
.toolbar-max_size {
    background-position: -2073px 0;
    height: 24px;
    width: 24px;
}
.toolbar-max_value {
    background-position: -2107px 0;
    height: 24px;
    width: 24px;
}
.toolbar-min_value {
    background-position: -2141px 0;
    height: 24px;
    width: 24px;
}
.toolbar-name_middle {
    background-position: -2175px 0;
    height: 24px;
    width: 24px;
}
.toolbar-name_prefix {
    background-position: -2209px 0;
    height: 24px;
    width: 24px;
}
.toolbar-name_suffix {
    background-position: -2243px 0;
    height: 24px;
    width: 24px;
}
.toolbar-negatives {
    background-position: -2277px 0;
    height: 24px;
    width: 24px;
}
.toolbar-negatives_closed {
    background-position: -2311px 0;
    height: 24px;
    width: 24px;
}
.toolbar-new {
    background-position: -2345px 0;
    height: 24px;
    width: 24px;
}
.toolbar-nextText {
    background-position: -2379px 0;
    height: 24px;
    width: 24px;
}
.toolbar-not_allow_time {
    background-position: -2413px 0;
    height: 24px;
    width: 24px;
}
.toolbar-not_required {
    background-position: -2447px 0;
    height: 24px;
    width: 24px;
}
.toolbar-number-padding {
    background-position: -2481px 0;
    height: 24px;
    width: 44px;
}
.toolbar-payment_total {
    background-position: -2535px 0;
    height: 24px;
    width: 24px;
}
.toolbar-pdf {
    background-position: -2569px 0;
    height: 27px;
    width: 24px;
}
.toolbar-preview {
    background-position: -2603px 0;
    height: 24px;
    width: 24px;
}
.toolbar-radio_columns {
    background-position: -2637px 0;
    height: 24px;
    width: 24px;
}
.toolbar-radio_options {
    background-position: -2671px 0;
    height: 24px;
    width: 24px;
}
.toolbar-radio_other {
    background-position: -2705px 0;
    height: 24px;
    width: 28px;
}
.toolbar-radio_selected {
    background-position: -2743px 0;
    height: 24px;
    width: 24px;
}
.toolbar-radio_special {
    background-position: -2777px 0;
    height: 24px;
    width: 24px;
}
.toolbar-range_default_from {
    background-position: -2811px 0;
    height: 24px;
    width: 24px;
}
.toolbar-range_default_to {
    background-position: -2845px 0;
    height: 24px;
    width: 24px;
}
.toolbar-recaptcha {
    background-position: -2879px 0;
    height: 24px;
    width: 43px;
}
.toolbar-redo {
    background-position: -2932px 0;
    height: 24px;
    width: 24px;
}
.toolbar-redo_disabled {
    background-position: -2966px 0;
    height: 24px;
    width: 24px;
}
.toolbar-required {
    background-position: -3000px 0;
    height: 24px;
    width: 24px;
}
.toolbar-save {
    background-position: -3034px 0;
    height: 24px;
    width: 24px;
}
.toolbar-scale_amount {
    background-position: -3068px 0;
    height: 24px;
    width: 24px;
}
.toolbar-scale_from {
    background-position: -3102px 0;
    height: 24px;
    width: 24px;
}
.toolbar-scale_to {
    background-position: -3136px 0;
    height: 24px;
    width: 24px;
}
.toolbar-secure {
    background-position: -3170px 0;
    height: 24px;
    width: 24px;
}
.toolbar-share_form_network {
    background-position: -3204px 0;
    height: 24px;
    width: 24px;
}
.toolbar-share_form_world {
    background-position: -3238px 0;
    height: 24px;
    width: 24px;
}
.toolbar-spinner_size {
    background-position: -3272px 0;
    height: 24px;
    width: 24px;
}
.toolbar-star_amount {
    background-position: -3306px 0;
    height: 24px;
    width: 24px;
}
.toolbar-star_style {
    background-position: -3340px 0;
    height: 24px;
    width: 24px;
}
.toolbar-stepping {
    background-position: -3374px 0;
    height: 24px;
    width: 24px;
}
.toolbar-sub_header {
    background-position: -3408px 0;
    height: 24px;
    width: 24px;
}
.toolbar-textarea_columns {
    background-position: -3442px 0;
    height: 24px;
    width: 24px;
}
.toolbar-textarea_rows {
    background-position: -3476px 0;
    height: 24px;
    width: 24px;
}
.toolbar-thank_page {
    background-position: -3510px 0;
    height: 24px;
    width: 24px;
}
.toolbar-themes {
    background-position: -3544px 0;
    height: 24px;
    width: 24px;
}
.toolbar-time_format_24 {
    background-position: -3578px 0;
    height: 24px;
    width: 24px;
}
.toolbar-time_format_pm {
    background-position: -3612px 0;
    height: 24px;
    width: 24px;
}
.toolbar-undo {
    background-position: -3646px 0;
    height: 24px;
    width: 24px;
}
.toolbar-undo_disabled {
    background-position: -3680px 0;
    height: 24px;
    width: 24px;
}
.toolbar-unique {
    background-position: -3714px 0;
    height: 24px;
    width: 24px;
}
.toolbar-unsecure {
    background-position: -3748px 0;
    height: 24px;
    width: 24px;
}
.toolbar-upload_extensions {
    background-position: -3782px 0;
    height: 24px;
    width: 24px;
}
